@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="pull-right">
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @using (Html.BeginForm())
    {
        <input type="search" name="search" value="" placeholder="請輸入關鍵字(Alt+s)" accesskey="s" />
        <input type="submit" value="搜尋"  />
    }
</p>

<br />
@{ var data = Model.ToArray();}
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                批次刪除
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
        
        @for (int i = 0; i < data.Length; i++)
        {
            <tr>
                <td>
                    <input type="checkbox" name="ProductID" value="@data[i].ProductId" />
                </td>
                <td>
                    @Html.HiddenFor(modelItem => data[i].ProductId)
                    @Html.EditorFor(modelItem => data[i].ProductName)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].Price)
                    @*@string.Format("{0:C0}", item.Price)*@
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Active)*@
                    @*@(item.Active.Value ? "啟用" : "停用")*@
                    @Html.EditorFor(modelItem => data[i].Active)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].Stock)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = data[i].ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = data[i].ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = data[i].ProductId })
                </td>
            </tr>
        }
        <tr>
            <td><button type="submit">批次作業</button></td>
            <td></td>
            <td><a href="@Url.Action("BatchUpdate")" class="btn btn-default">更新id小於10的資料改為5元</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>
}
